<h1> Update Move </h1>

<form action="/moves/<%=@move.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label> Current Origin </label>
  <input type="text" name="origin" value="<%= @move.origin %>"><br>
  <label> Current Destination </label>
  <input type="text" name="destination" value="<%= @move.destination %>"><br>
  <label> Current Move Date </label>
  <input type="date" name="move_date" value="<%= @move.move_date %>"><br>

  <input type="submit" id="submit" value="Update Move">
</form>
<br><br>
<script>
function goBack() {
    window.history.back()
}
</script>
<button onclick="goBack()">Go Back</button>
<br>
<form action="/moves/<%= @move.id %>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <button type="submit">Delete Move</button>
</form>
